.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.row-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0em;
}

.drivers-label {
  padding: 1.8vh 3vw 1.8vh 0.5vw;
  font-size: 2em;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.navigation {
  background-color: #282c34;
  width: 100vw;
}

ul {
  list-style-type: none;
}

.navigation ul li {
  display: inline;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.2em;
}

.drivers-admin-btns {
  align-items: flex-end;
  justify-content: right;
}

.drivers-admin-btns .btn{
  float: right;
  display: block;
  min-width: 15vw;
  height: 6vh;
  margin: 0.4em 0.8em;
}

.col {
  padding-top: 3vh;
}

.hidden {
  display: none;
}

input {
  display: block;
  margin-top: 1vh !important;
}

form input {
  display: inline;
  float: right;
}

form div {
  margin: 2vh 0;
  clear: both;
}

form p {
  color: red;
}

#addform ::-webkit-input-placeholder {
  color:red;
  font-size: 0.8em;
}

#addform ::-moz-placeholder {
  color:red;
  font-size: 0.8em;
}

#addform ::-ms-placeholder {
  color:red;
  font-size: 0.8em;
}

#addform ::placeholder {
  color:red;
  font-size: 0.8em;
}

.list div{
  display: flex;
}

.bigbutton {
  width: 15vw;
  height: 15vh;
  margin: 2vh;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 1vh;
  border-width: 1px;
}

.smallbutton {
  width: 10vw;
  height: 4vh;
  margin: 2vh;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 1vh;
  border-width: 1px;
  float: left;
}

.result div {
  display: flex;
}

.bold {
  font-weight: 600;
}

.list-item-box {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 2vh;
  width: 70vw;
  margin-bottom: 2vh;
}

.messagebox {
  width: 25vw;
  height: 12vh;
}
