.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0em;
}

.drivers-label {
  width: 20vw;
  background-color: aqua;
  padding: 1.8vh 3vw 1.8vh 0.5vw;
  font-size: 1.2em;
  letter-spacing: 0.06em;
  background: linear-gradient(to right, rgb(237, 180, 171), 60%, rgb(245, 222, 219));
  border-top-right-radius: 3.5em;
  font-weight: 400;
  margin-top: 10vh;
}

.drivers-admin-btns {
  align-items: flex-end;
  justify-content: right;
}

.drivers-admin-btns .btn{
  float: right;
  display: block;
  min-width: 15vw;
  height: 6vh;
  margin: 0.4em 0.8em;
}

.hidden {
  display: none;
}

input {
  display: block;
}
